In [1]:
import os
import s3fs

# Create filesystem object
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})

In [2]:
fs.ls("donnees-insee")

['donnees-insee/diffusion']

In [4]:
fs.ls("avouacr")

['avouacr/02_Data_Management.7z',
 'avouacr/02_Data_Management.zip',
 'avouacr/avouacr',
 'avouacr/bceao',
 'avouacr/bike.csv',
 'avouacr/cmv-demo',
 'avouacr/data-structures2.md',
 'avouacr/demo',
 'avouacr/demo.qmd',
 'avouacr/departements-20140306-5m-shp',
 'avouacr/dev-shiny',
 'avouacr/diffusion',
 'avouacr/ds-project.zip',
 'avouacr/eee',
 'avouacr/ensae-reproductibilite',
 'avouacr/entrypoint.sh',
 'avouacr/formation-bceao',
 'avouacr/formation-initiation-python.odt',
 'avouacr/future.R',
 'avouacr/hackathon',
 'avouacr/init',
 'avouacr/init-jupyter.sh',
 'avouacr/kdo.zip',
 'avouacr/kdo2.zip',
 'avouacr/mlflow-artifacts',
 'avouacr/mnist.zip',
 'avouacr/mon_dossier33',
 'avouacr/mon_dossier34',
 'avouacr/myfolder',
 'avouacr/onyxia.pdf',
 'avouacr/parlapply.R',
 'avouacr/projets-python',
 'avouacr/public',
 'avouacr/pythonw.exe',
 'avouacr/quakes.csv',
 'avouacr/sda',
 'avouacr/sect01_seq_01(1).qmd',
 'avouacr/test',
 'avouacr/testfunathon',
 'avouacr/tp-ensai',
 'avouacr/tp_ensai']

In [5]:
import pandas as pd

BUCKET = "donnees-insee"
FILE_KEY_S3 = "diffusion/BPE/2019/BPE_ENS.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    df_bpe = pd.read_csv(file_in, sep=";")

/tmp/ipykernel_4873/2102176933.py:8: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bpe = pd.read_csv(file_in, sep=";")

In [6]:
df_bpe

         REG  DEP DEPCOM      DCIRIS    AN TYPEQU  NB_EQUIP
0         84    1   1001       01001  2019   A401         2
1         84    1   1001       01001  2019   A404         4
2         84    1   1001       01001  2019   A405         2
3         84    1   1001       01001  2019   A504         1
4         84    1   1001       01001  2019   A507         1
...      ...  ...    ...         ...   ...    ...       ...
1060609    6  976  97617  97617_0000  2019   F114         1
1060610    6  976  97617  97617_0000  2019   F120         1
1060611    6  976  97617  97617_0000  2019   F121         3
1060612    6  976  97617  97617_0000  2019   F307         1
1060613    6  976  97617  97617_0000  2019   G104         1

[1060614 rows x 7 columns]

In [7]:
df_bpe_sub = df_bpe[df_bpe['DEP'] == 33]
df_bpe_sub

        REG DEP DEPCOM DCIRIS    AN TYPEQU  NB_EQUIP
291628   75  33  33001  33001  2019   A208         1
291629   75  33  33001  33001  2019   A301         2
291630   75  33  33001  33001  2019   A401         2
291631   75  33  33001  33001  2019   A402         4
291632   75  33  33001  33001  2019   A404         5
...     ...  ..    ...    ...   ...    ...       ...
315457   75  33  33555  33555  2019   F114         1
315458   75  33  33555  33555  2019   F116         1
315459   75  33  33555  33555  2019   F120         1
315460   75  33  33555  33555  2019   F121         2
315461   75  33  33555  33555  2019   F307         1

[23834 rows x 7 columns]

In [8]:
BUCKET_OUT = "avouacr"
FILE_KEY_OUT_S3 = "bpe-test/bpe_sub_33.csv"
FILE_PATH_OUT_S3 = BUCKET_OUT + "/" + FILE_KEY_OUT_S3

with fs.open(FILE_PATH_OUT_S3, 'w') as file_out:
    df_bpe.to_csv(file_out)

In [ ]:
BUCKET_OUT = "projet-aiml4os-wp10"
FILE_KEY_OUT_S3 = "bpe_sub_33.csv"
FILE_PATH_OUT_S3 = BUCKET_OUT + "/" + FILE_KEY_OUT_S3

with fs.open(FILE_PATH_OUT_S3, 'w') as file_out:
    df_bpe.to_csv(file_out)